@charset "UTF-8";

body {
  background-color: black; color: whitesmoke;
  font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
  margin: 2em; line-height: 1.5;
}
a[href] { color: lightblue }
b { color: gold }
pre { padding: 1em; border: 1px dashed navy; overflow: auto; color: ghostwhite; }
dt { margin-top: 1em; font-weight: bold; color: lightblue }
li { margin-bottom: 0.5em; }
i {}
table, tr, th, td { border: 1px solid gray; }

/** for pie chart {{{ */
.add { color: chartreuse }
.fix { color: skyblue }
.del { color: darkgray }
.move { color: #555555; }
.rename { color: #f6f; }
.retake { color: #f06; }
#total { margin: 0 auto; }
#total, #total thead th { border: 1px solid gray }
#total td { text-align: right }
#pie {
  position: fixed; top: 20px; right: 20px;
  opacity: 0.5;
}
#pie:hover {
  opacity: 1.0;
}
/** }}} */
