.view {
  padding: 20px; /* shadow padding */
  outline: 1px solid red;
}
.noshadow {
  outline: 1px solid blue;
}
.noborder {
  border: 0em none;
}
.nobgimg {
  background-image: none;
}
