.radius1 {
  color: gold;
  -uu-background: blue url(../img/lena.jpg) repeat top left;
  border: 1em solid navy;
  border-top: 20px solid navy;
  border-right: 2px solid blue;
  border-bottom: 2px solid green;
  border-left: 20px solid #0011ff;
  -uu-border-radius: 5em;
}
