html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
    pre,form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
/* IE6,IE7 bugfix: overwrite default maring */
html.ifie6 pre,
html.ifie7 pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

