.round {
  color: white;
  border: 3px solid #222;
  background-color: gray;
}
html.ifnojs .round {
  -webkit-box-shadow: gray 5px 5px 5px;
  -webkit-border-radius: 10px;
}
html.ifjs .round {
  -uu-background-color: gray;
  -uu-box-shadow: gray 5px 5px 5px;
  -uu-border-radius: 10px;
}
header {
  -uu-background: -uu-gradient(linear, 0% 0%, 0% 100%,
                               from(#630707), to(#AB8EA2), color-stop(.3,#D44E76));
}
nav {
  -uu-background: -uu-gradient(linear, 0% 0%, 0% 100%, from(#1F39E0), to(#E1FAF7));
}
article {
  -uu-background: -uu-gradient(linear, 0% 0%, 0% 100%, from(#BFE019), to(#E1FAF7));
}
aside {
  -uu-background: -uu-gradient(linear, 0% 0%, 100% 100%, from(#FF0B02), to(#F8FF22));
}
/*
article>div:nth-child(even)>section {
  -uu-background-image: url(../img/cover09.jpg);
}
 */
article section {
  -uu-background-image: url(../img/cover09.jpg);
}
footer {
  -uu-background: -uu-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#FFFFFF),
                               color-stop(.3,#CCC72D),color-stop(.6,#525252));
}
